@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
nav {
  position: fixed;
  width: 100vw;
  height: auto;
  background-color: #f0e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -99px;
  z-index: 8000;
}
@media screen and (max-width: 780px) and (min-width: 320px) {
  nav {
    margin-top: -120px;
  }
}
nav .nav_superior {
  background-color: #000000;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 780px) and (min-width: 320px) {
  nav .nav_superior {
    height: 100px;
  }
}
nav .nav_superior .navs1 {
  width: 113px;
  height: 60px;
  margin-left: 20px;
}
nav .nav_superior .navs1 img {
  width: 100%;
  height: 60px;
}
nav .nav_superior .navs2 {
  color: rgba(233, 223, 223, 0.753);
  width: 81px;
  height: 50px;
  margin: 4px 4px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
nav .nav_superior .navs2:hover {
  border: 1px solid whitesmoke;
  border-radius: 3px;
}
nav .nav_superior .navs2 .navs2_c1 {
  font-size: 13px;
  color: rgba(163, 163, 163, 0.89);
  width: 100%;
  height: 30%;
  margin-top: -8px;
  margin-left: 25px;
  padding: px;
}
nav .nav_superior .navs2 .navs2_c2 {
  font-size: 18px;
  color: white;
  width: 100%;
  height: 40%;
  margin-left: 25px;
  margin-top: -5px;
}
nav .nav_superior .navs3 {
  width: 1277px;
  height: 60px;
}
@media screen and (max-width: 780px) and (min-width: 320px) {
  nav .nav_superior .navs3 {
    width: 80%;
    height: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 45px;
    left: 45px;
  }
}
nav .nav_superior .navs3 .navs3_c1 {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 97%;
  height: 40px;
  background-color: white;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 780px) and (min-width: 320px) {
  nav .nav_superior .navs3 .navs3_c1 {
    height: 30px;
  }
}
nav .nav_superior .navs3 .navs3_c1 :focus {
  border: 3px solid #febd69;
}
nav .nav_superior .navs3 .navs3_c1 .navs3_c1-select {
  background-color: #f3f3f3;
  width: 70px;
  height: 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 0.5px solid #c5c3c3;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
nav .nav_superior .navs3 .navs3_c1 .navs3_c1-select h6 {
  margin-top: 12px;
  width: 100%;
  font-size: 13px;
  text-align: center;
  height: 40px;
  color: #555555;
  font-family: sans-serif;
}
nav .nav_superior .navs3 .navs3_c1 input {
  outline: none;
  width: 1147px;
  border: 0;
}
nav .nav_superior .navs3 .navs3_c1 .navs3_c1-search {
  background-color: #febd69;
  width: 45px;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav_superior .navs3 .navs3_c1 .navs3_c1-search div {
  width: 22px;
  height: 22px;
}
nav .nav_superior .navs3 .navs3_c1 .navs3_c1-search i {
  color: #555555;
  font-size: 22px;
  text-align: center;
  margin: auto;
}
nav .nav_inferior {
  background-color: #232f3e;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}
@media screen and (max-width: 780px) and (min-width: 320px) {
  nav .nav_inferior {
    height: 22px;
  }
}
nav .nav_inferior div a {
  text-decoration: none;
  color: white;
}
nav .nav_inferior .vincinferior {
  width: auto;
  height: 18px;
  margin: 10px;
}
@media screen and (max-width: 780px) and (min-width: 320px) {
  nav .nav_inferior .vincinferior {
    font-size: 10px;
    font-family: "Fjalla One", sans-serif;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

main {
  width: 75vw;
  height: 600px;
  background-image: url(https://m.media-amazon.com/images/I/610UHMnjeYL._SX1500_.jpg);
  position: relative;
  margin: auto;
  margin-top: 99px;
}
@media screen and (max-width: 780px) and (min-width: 320px) {
  main {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 120px;
  }
}
main .target {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 2px auto 2px auto 2px auto;
  grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto 20px auto 20px auto;
  grid-template-rows: auto auto auto;
  width: 100%;
  height: 600px;
  position: absolute;
  background: none;
  margin-top: 240px;
      grid-template-areas: "1 2 3 4" "5 6 7 8" "9 10 11 12";
  -webkit-column-gap: 2px;
     -moz-column-gap: 2px;
          column-gap: 2px;
  row-gap: 20px;
}
@media screen and (max-width: 780px) and (min-width: 320px) {
  main .target {
        grid-template-areas: none;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 12 auto;
    grid-template-rows: 12 auto;
    margin-top: 120px;
  }
}
main .target div {
  background-color: white;
  width: 90%;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
@media screen and (max-width: 780px) and (min-width: 320px) {
  main .target div {
    width: 80%;
  }
}
main .target div img {
  width: 90%;
  height: 72%;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
}
main .target div input {
  width: 90%;
  height: 29px;
  background-color: #f2ca68;
  border: 1px solid #9c7e31;
  border-radius: 2px;
}

body {
  background-color: #eaeded;
}