main{
    width: 1500px;
    height: 600px;
    background-image: url(https://m.media-amazon.com/images/I/610UHMnjeYL._SX1500_.jpg);
    position: relative;
    margin: auto;
    margin-top: 99px;
              .target{
                  width: 100%;
                  height: 600px;
                  position: absolute;
                  background-color: rgba(88, 87, 87, 0.466);
                  
                  margin-top: 250px;
              }
}
